<div class="w-4/4 shadow-md p-10 bg-white shadow-blue-200/20 mx-36 my-10">
  <div class="flex justify-between orders-center mb-4 mt-4">
    <div class="flex orders-center space-x-4">
      <input
        type="text"
        placeholder="Search"
        class="border p-2 rounded-lg"
        [(ngModel)]="keyword"
        (keyup.enter)="filterData()"
      />
      <select
        class="border p-2 rounded-lg"
        #pageSize
        (change)="changePageSize(pageSize.value)"
      >
        <option *ngFor="let size of pageSizes" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div>
      <button class="border p-2 rounded-lg" (click)="openAddForm()">
        Add order
      </button>
      <button class="border p-2 rounded-lg" (click)="downloadReport()">
        Download Report
      </button>
    </div>
  </div>

  <table class="w-full border-4">
    <thead>
      <tr>
        <th class="p-3 text-left bg-gray-200">No</th>
        <th class="p-3 text-left bg-gray-200">Code</th>
        <th class="p-3 text-left bg-gray-200">Date</th>
        <th class="p-3 text-left bg-gray-200">Quantity</th>
        <th class="p-3 text-left bg-gray-200">Total Price</th>
        <th class="p-3 text-left bg-gray-200">Customer Id</th>
        <th class="p-3 text-left bg-gray-200">Item Id</th>
        <th class="p-3 text-left bg-gray-200">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-2" *ngFor="let order of orders; let i = index">
        <td class="p-3 border-2">{{ i + 1 }}</td>
        <td class="p-3 border-2">{{ order.orderCode }}</td>
        <td class="p-3 border-2">
          {{ order.orderDate | date : "MM/dd/yyyy" }}
        </td>
        <td class="p-3 border-2">{{ order.quantity }}</td>
        <td class="p-3 border-2">{{ order.totalPrice }}</td>
        <td class="p-3 border-2">{{ order.customers.id }}</td>
        <td class="p-3 border-2">{{ order.item.id }}</td>
        <td class="p-3 border-2">
          <button
            class="border p-2 rounded-lg bg-blue-500 text-white mr-2"
            (click)="openEditForm(order)"
          >
            Edit
          </button>
          <button
            class="border p-2 rounded-lg bg-red-500 text-white mr-2"
            (click)="deleteOrder(order.orderId)"
          >
            Delete
          </button>
          <button
            class="border p-2 rounded-lg bg-gray-500 text-white"
            (click)="detailOrder(order.orderId)"
          >
            Detail
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4 flex orders-center justify-center">
    <button
      class="text-cyan-500 border-4 py-2 px-4 rounded-l-lg cursor-pointer mr-5"
      (click)="prevPage()"
    >
      Prev
    </button>
    <button
      *ngFor="let pageNumber of pageNumbers(); let i = index"
      class="py-2 px-4 cursor-pointer"
      [class.bg-cyan-500]="i + 1 == currentPage"
      [class.text-white]="i + 1 == currentPage"
      (click)="changePage(i + 1)"
    >
      {{ i + 1 }}
    </button>
    <button
      class="text-cyan-500 border-4 py-2 px-4 rounded-r-lg cursor-pointer ml-5"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
